@model WorkControlPortal.Models.Hizmetler
@{
    ViewBag.Title = "HizmetEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post" style="margin-top:15px" autocomplete="off">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 ">
                <label class="form-label">Hizmet Adı</label>
                <input type="text" class="form-control" name="Aciklama" required>

                <label class="form-label">Departman Seçiniz</label>
                @Html.DropDownListFor(m => m.Departmanlar.Referans, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control", autocomplete = "off" })
                <div style="margin-top:20px">
                    <button class="btn btn-primary" type="submit" id="btn1">Hizmet Ekle</button>
                </div>
            </div>

        </div>
    </div>
</form>

@*----------------------Sweet Alert----------------*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $('#btn1').click(function () {
        swal("Başarılı!", "Kayıt Eklendi.", "success");
    });
</script>