@model WorkControlPortal.Models.Hizmetler
@{
    ViewBag.Title = "HizmetGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("HizmetGuncelle", "Hizmet", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row" style="margin-top:15px">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Referans)
                @Html.TextBoxFor(m => m.Referans, new { @class = "form-control", @readonly = "readonly" })

                <label>Hizmet Adı</label>
                @Html.TextBoxFor(m => m.Aciklama, new { @class = "form-control" })

                <label>Departman Seçiniz</label>
                @*@Html.TextBoxFor(m => m.DprtRef, new { @class = "form-control" })*@
                @Html.DropDownListFor(m => m.Departmanlar.Referans, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })

                <div class="col-md-6" style="margin-top:20px">
                    <button type="submit" class="btn btn-warning" id="btn1">Hizmet Güncelle</button>
                </div>
            </div>
        </div>
    </div>
}
}
@*----------------------Sweet Alert----------------*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $('#btn1').click(function () {
        swal("Başarılı!", "Kayıt Güncellendi.", "warning");
    });
</script>
